digital_ocean_token = 
aws_access_key =
aws_secret_key =

user_ssh_keys_path = {
  public = 
  private =
}
user_email =
rebrain_user_login =  
task_name = 

droplet_settings = {
   image = 
   name = 
   size = 
}
droplet_count = 
new_root_password = 
