digital_ocean_token = 
aws_access_key = 
aws_secret_key = 

user_ssh_keys_path = {
  public = 
  private = 
}
user_email = 
task_name = 

droplet_settings = {
   image = 
   name = 
   size = 
}
password_length = 

devs = 
